@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.container-header, .container-footer{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    margin: auto;
    padding: 10px 100px;
}

.container-header span, .container-footer span{
    color: white;
}

.container-header div{
    text-align: center;
    display: flex;
    flex-direction: row;

}

header{
    top: 0;
}

footer{
    bottom: 0;
}

header, footer{
    background-color: black;
    left: 0;
    width: 100%;
    position: fixed;
}

header h2, footer h2{
    color: yellow;
}

header , footer , button{
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 0px 5px;
}

#btnInicio, #btnPausa, #btnParar {
    background-color: #6200ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#inicio:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#start:disabled, #pausa:disabled, #stop:disabled {
    background-color: #dc3545;
    cursor: not-allowed;
}

#ramNum {
    font-size: 256px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

#mensagem {
    font-size: 20px;
    margin-top: 10px;
}


select {
    border: none;
    margin-left: 10px;
    padding: 2px;
    background-color: black;
    color: white;
    outline: none;
  }

  